# À renseigner dans Vercel lorsque Supabase sera connecté.
NEXT_PUBLIC_SUPABASE_URL=https://pqnszrnxlwipqhcwqwhd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBxbnN6cm54bHdpcHFoY3dxd2hkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4NDc2NzEsImV4cCI6MjA5NzQyMzY3MX0.erBcUiP8HCyzssPkwAuggdCt8vYRpVZfZ6L2pBvLzQ0
